In [10]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/ashtonsmith/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
# NASA Mars News

# Scrape the Mars News Site and collect the latest News Title and 
# Paragraph Text. 
# Assign the text to variables that you can reference later.

In [4]:
title_url = 'https://redplanetscience.com/'
browser.visit(title_url)

In [5]:
# HTML object
title_html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(title_html, 'lxml')

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [6]:
# PL Mars Space Images - Featured Image


# Visit the url for the Featured Space Image site here.


# Use splinter to navigate the site and find the image url for the 
# current Featured Mars Image and assign the url string to a variable
# called featured_image_url.


# Make sure to find the image url to the full size .jpg image.


# Make sure to save a complete url string for this image.

In [7]:
image_url = 'https://spaceimages-mars.com/'
browser.visit(image_url)

In [8]:
# HTML object
image_html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(image_html, 'html.parser')
image = soup.find('img', class_='headerimage fade-in')
image_src = image['src']
featured_image_url = image_url + image_src
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [9]:
browser.quit()

In [ ]:
# Mars Facts


# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts 
# about the planet including Diameter, Mass, etc.


# Use Pandas to convert the data to a HTML table string.

In [12]:
facts_url = 'https://galaxyfacts-mars.com'
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [26]:
df1 = tables[0]
new_header = df1.iloc[0] 
df1 = df1[1:] 
df1.columns = new_header
df1=df1.drop(labels="Earth",axis=1)
df2 = tables[1]
df2=df2.rename(columns={0:"Mars - Earth Comparison",1:"Mars"})
dataframe=df1.append(df2)
dataframe=dataframe.rename(columns={"Mars - Earth Comparison":"Facts"})
dataframe

0                 Facts                           Mars
1             Diameter:                       6,779 km
2                 Mass:                6.39 × 10^23 kg
3                Moons:                              2
4    Distance from Sun:                 227,943,824 km
5       Length of Year:                 687 Earth days
6          Temperature:                   -87 to -5 °C
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
html_table = dataframe.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# Mars Hemispheres


# Visit the astrogeology site here to obtain high resolution images for each of 
# Mar's hemispheres.


# You will need to click each of the links to the hemispheres in order to find the 
# image url to the full resolution image.


# Save both the image url string for the full resolution hemisphere image, and the 
# Hemisphere title containing the hemisphere name. Use a Python dictionary to store 
# the data using the keys img_url and title.


# Append the dictionary with the image url string and the hemisphere title to a list. 
# This list will contain one dictionary for each hemisphere.

In [ ]:
https://marshemispheres.com